/*PAGE THREE*/

#cover {
  display: flex;
  height: 70vh;
  min-height: 70vh;
  align-items: center;
  background: $cards-background;
  width: 80%;
  margin: auto;
  position: relative;
  overflow: hidden;
  border-radius: 20px;

  .cover-image, .cover-text {
    width: 50%;
    box-sizing: border-box;
  }

  .cover-image {
    object-fit: cover;
    height: 100%;
    min-height: 40vh;
  }

  .cover-text {
    text-align: center;
    padding: 1em;

    :where(h2, h4) {
      font-weight: 400;
      color: $black-color;
    }

    h2 {
      font-size: 3em;
      line-height: 1em;
      margin-bottom: 30px;
    }
    
  }

  @include tablet  {
    flex-direction: column;
    height: fit-content;

    h2 {
      font-size: 2em;
    }

    .cover-text, .cover-image {
      width: 100%;
    }
  }
}


/* Blog Post */

/* Fallback for browsers that do not support Grid */
.post {
  color: #444;
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 100px auto;
  gap: 10px 50px;
  justify-content: space-between;

  @container (min-width: 650px) {
    .post {
      font-size: 18px;
    }
  }

  :where(p) {
    line-height: 1.8;
  }

  :is(p.special-paragraph) {
    font-style: italic;
    text-align: right;
  }

  :where(img) {
    max-width: 100%;
  }

  :where(h1, h2) {
    font-size: 50px;
    font-style: italic;
    font-weight: 100;
    margin: 0;
  }

  > * {
    flex: 0 1 calc(25% - 10px);
  }

  > figure {
    margin: 0;
    width: 100%;
  }

  :has(figcaption) {
    font-size: 10px;
  }

  :is(blockquote) {
    flex: 0 1 100%;
    font-size: 50px;
    text-align: center;
    margin: 0px;
  }

  .tip {
    background: $tip-background;
    padding: 10px;
    width: 100%;
  }

  .tip-left {
    text-align: right;
    border-right: 4px solid $tip-yellow;
  }

  .tip-right {
    text-align: left;
    border-left: 4px solid $tip-yellow;
    align-self: start;
    flex: 0 1 calc(33.33% - 10px);
  }

  ol {
    list-style-type: none;
    counter-reset: custom-counter;
    padding-left: 0;
  }

  li {
    counter-increment: custom-counter;
    margin-bottom: 10px;
  }

  li::before {
    content: counter(custom-counter);
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    border: 2px solid #000;
    border-radius: 50%;
    text-align: center;
    margin-right: 10px;
    font-weight: bold;
    font-size: 1.2em;
  }


  @include tablet  {
    margin: 50px 20px;

    > * {
      flex: 0 1 calc(100% - 20px);
    }

    :is(blockquote) {
      font-size: 30px;
    }

    :where(h1, h2) {
      font-size: 40px;
    }

    .tip-left,
    .tip-right {
      text-align: center;
      margin: 20px 0;
      flex: 0 1 calc(100% - 20px);
    }
  }
}

/*Feature Queries code with @supports*/

@supports (display: grid) {
.post {
  color: #444;
  font-size: 20px;
  display: grid;
  max-width: 1000px;
  margin: 100px auto;
  grid-gap: 10px 50px;
  grid-template-columns: 3fr 12fr 5fr;

 :where(p) {
    line-height: 1.8;
  }

  :is(p.special-paragraph) {
    font-style: italic;
    text-align: right;
  }

  :where(img) {
    max-width: 100%;
  }

  :where(h1, h2) {
    font-size: 50px;
    font-style: italic;
    font-weight: 100;
    margin: 0;
  }

  > * {
    grid-column: 2 / span 1;
  }

  > figure {
    margin: 0;
    grid-column: 1 / -1;
  }

  :has(figcaption) {
    font-size: 10px;
  }

  :is(blockquote) {
    grid-column: 1 / -1;
    font-size: 50px;
    text-align: center;
    margin: 0px;
  }

  .tip {
    background: $tip-background;
    padding: 10px;
  }

  .tip-left {
    grid-column: 1 / span 1;
    text-align: right;
    border-right: 4px solid $tip-yellow;
  }

  .tip-right {
    grid-column: 3 / span 1;
    text-align: left;
    border-left: 4px solid $tip-yellow;
    grid-row: span 4;
    align-self: start;
  }

  ol {
    list-style-type: none;
    counter-reset: custom-counter;
    padding-left: 0;
  }

  li {
    counter-increment: custom-counter;
    margin-bottom: 25px;
    margin-top: 10px;
  }

  li::before {
    content: counter(custom-counter);
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    border: 2px solid #000;
    border-radius: 50%;
    text-align: center;
    margin-right: 10px;
    font-weight: bold;
    font-size: 1.2em;
  }


  @include tablet  {
    margin: 50px 20px;

    > * {
      grid-column: 1 / -1;
    }

    :is(blockquote) {
      font-size: 30px;
    }

    :where(h1, h2) {
      font-size: 40px;
    }

    .tip-left,
    .tip-right {
      grid-column: 1 / -1;
      text-align: center;
      margin: 20px 0;
    }
  }
}
}

 
 