/*PAGE THREE*/

#cover {
  display: flex;
  height: 70vh;
  min-height: 70vh;
  align-items: center;
  background: $cards-background;
  width: 80%;
  margin: auto;
  position: relative;
  overflow: hidden;
  border-radius: 20px;

  .cover-image, .cover-text {
    width: 50%;
    box-sizing: border-box;
  }

  .cover-image {
    object-fit: cover;
    height: 100%;
    min-height: 40vh;
  }

  .cover-text {
    text-align: center;
    padding: 1em;

    h2 {
      font-size: 3em;
      font-weight: 400;
      line-height: 1em;
      margin-bottom: 30px;
      color: $black-color;
    }

    h4 {
      font-weight: 400;
      color: $black-color;
    }
  }

  @media (max-width: 800px) {
    flex-direction: column;
    height: fit-content;

    h2 {
      font-size: 2em;
    }

    .cover-text, .cover-image {
      width: 100%;
    }
  }
}


/* Blog Post */

.post {
  color: #444;
  font-size: 20px;
  display: grid;
  max-width: 1000px;
  margin: 100px auto;
  grid-gap: 10px 50px;
  grid-template-columns: 3fr 12fr 5fr;

 :where(p) {
    line-height: 1.8;
  }

  :is(p.special-paragraph) {
    font-style: italic;
    text-align: right;
  }

  :where(img) {
    max-width: 100%;
  }

  :where(h1, h2) {
    font-size: 50px;
    font-style: italic;
    font-weight: 100;
    margin: 0;
  }

  > * {
    grid-column: 2 / span 1;
  }

  > figure {
    margin: 0;
    grid-column: 1 / -1;
  }

  :has(figcaption) {
    font-size: 10px;
  }

  :is(blockquote) {
    grid-column: 1 / -1;
    font-size: 50px;
    text-align: center;
    margin: 0px;
  }

  .tip {
    background: $tip-background;
    padding: 10px;
  }

  .tip-left {
    grid-column: 1 / span 1;
    text-align: right;
    border-right: 4px solid $tip-yellow;
  }

  .tip-right {
    grid-column: 3 / span 1;
    text-align: left;
    border-left: 4px solid $tip-yellow;
    grid-row: span 4;
    align-self: start;
  }

  @media (max-width: 800px) {
    margin: 50px 20px;

    > * {
      grid-column: 1 / -1;
    }

    :is(blockquote) {
      font-size: 30px;
    }

    :where(h1, h2) {
      font-size: 40px;
    }

    .tip-left,
    .tip-right {
      grid-column: 1 / -1;
      text-align: center;
      margin: 20px 0;
    }
  }
}

 
 