/* General styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $font-family-sans-serif;
}

.color-bg {
  background: hsl(from #edfffa h calc(s + 20%) l / 0.5);
}

/* LANDING PAGE */

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.hero {
  background-image: url(../images/pista.jpg);
  background-size: cover;
  color: $white-color;
  display: grid;
  grid-template-rows: max-content 1fr;
  grid-template-areas: 
    "nav"
    "content";
  min-height: 100vh;

  .nav {
    grid-area: nav;
    display: grid;
    justify-content: space-between;
    grid-auto-flow: column;
    gap: 1em;
    align-items: center;
    height: 90px;

    .nav_list {
      list-style: none;
      display: grid;
      grid-auto-flow: column;
      gap: 2em;
      padding: 0;

      .nav_link {
        color: $white-color;
        text-decoration: none;
      }

      .nav_item a {
        transition: color $header-transition-duration;
        
        &:hover {
          color:$hover-link;
        }
      }
    }

    .nav_logo {
      font-size: 1rem;
      padding: 25px;
      margin-top: 10px;
      background: radial-gradient(
        ellipse at center,
        #ffeb3b 0%,
        #ffeb3b 25%,
        #f2d489 26%,
        #fbc02d 50%,
        #21f359 51%,
        #2196f3 75%,
        #5298dd 76%,
        #1e80e9 100%
      );
      border-radius: 15px;
      color: black;
    }
  }

  /* Hero MAIN */
  .hero_main {
    grid-area: content;
    display: grid;
    gap: 2em;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding-bottom: 180px;
  }

  .hero_waves {
    grid-area: content;
    align-self: self-end;
  }

  .hero_text {
    color: $black-color;

    .hero_title {
      font-size: 2.6rem;
      letter-spacing: 2px;
    }

    .hero_subtitle {
      margin-top: 1rem;
      margin-bottom: 1.5rem;
      font-size: 1.5rem;
      font-weight: 300;
    }

    .hero_cta {
      text-decoration: none;
      color: $white-color;
      padding: 15px 60px;
      border: 1px solid;
      border-radius: 6px;
      display: inline-block;
      font-weight: 500;
      transition: background-color .3s;

      &:hover {
        background-color: $white-color;
        color: $hover-cta;
        font-weight: 600;
      }
    }
  }

  .hero_img {
    width: 100%;
  }

  @media (max-width:800px) {

    .nav {
      grid-template-rows: auto;
      grid-auto-flow: row;
      text-align: center;
      height: auto;
      justify-content: center; 

      .nav_list {
        grid-auto-flow: row;
      }

      .nav_logo {
        margin-top: 10px;
      }
    }

    .hero_main {
      grid-template-columns: 1fr;
      grid-template-rows: max-content max-content;
      text-align: left;
    }

    .hero_picture {
      grid-row: 1/2;
    }

    .hero_img {
      max-width: 500px;
      display: block;
      margin: 0 auto;
    }
  }
}


/* Otras actividades bootstrap carousel */

.title {
  text-align: center;
  margin-top: 80px;
  font-size: 3em;
}

.custom-carousel {
  width: $custom-carousel-width;
  margin: 50px auto;

  @media (max-width: 800px) {
    width: $custom-carousel-width-mobile;
  }

  .carousel-inner {
    border-radius: 10px;
  }

  .texto-carousel {
    color: $white-color;
    background-color: $texto-carousel-background;
    padding: 10px;
    border-radius: 10px;

    @media (max-width: 800px) {
      font-size: $texto-carousel-font-size;
      padding: $texto-carousel-padding;
    }
  }

  .contact-link {
    color: $contact-link-color;
    text-decoration: none; 
    font-weight: bold; 
    transition: color 0.3s ease;

    &:hover {
      color: $contact-link-hover-color;
    }
  }
}


/* FOOTER */
.site_footer {
  margin-top: 150px;
  position: relative;
  background-color: $footer-background-color;
  width: 100%;
  bottom: 0;

  .container {
    max-width: 90%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    padding-top: 20px;

    @media (max-width: 800px) {
      text-align: center;
    }

    .contact_details {
      text-align: center;
      margin-bottom: 20px;
  
      p {
          color: $white-color;
          margin: 5px 0;
          font-size: 14px;

          &.contact {
            font-size: 18px;
          }
      }
  }

    .grid_container {
      display: grid;
      grid-template-columns: auto auto auto;
      margin-top: 50px;
      margin-bottom: 50px;

      @media (max-width: 800px) {
        grid-template-columns: 1fr;
      }

      a {
        color: $white-color;
        text-decoration: none;
        font-size: 15px;
        line-height: 16.25px;
        transition: color $header-transition-duration;

        &:hover {
          color: $hover-link;
        }
      }

      .inner_grid_container {
        display: grid;
        grid-template-columns: auto auto auto;
        text-align: center;

        @media (max-width: 800px) {
          grid-template-columns: 1fr;
          margin-top: 10px;
          margin-bottom: 20px;
        }
      }

      .grid_item_menu {
        @media (max-width: 800px) {
          padding: 10px;
        }
      }
    }

    hr {
      display: block;
      height: 2px;
      border: 0;
      border-top: 1px solid $black-color;
      margin: 2px;
      padding: 0;
    }

    .texto-copyright {
      font-size: 12px;
      text-align: right;
      color: $white-color;
      font-weight: 500;

      @media (max-width: 800px) {
        text-align: center;
      }
    }

    .logo {
      cursor: pointer;
      color: $white-color;
      font-size: 18px;

      @media (max-width: 800px) {
        text-align: center;
      }
    }

    .social_buttons {
      text-align: right;

      @media (max-width: 800px) {
        text-align: center;
      }

      a {
        display: inline-flex;
        text-decoration: none;
        font-size: 20px;
        width: 40px;
        height: 40px;
        color: $white-color;
        justify-content: center;
        align-items: center;
        position: relative;
        margin: 0 8px;

        i {
          transition: 0.3s ease-in;
        }

        &:hover i {
          background: $social-icons-hover;
          background-clip: text;
          -webkit-text-fill-color: transparent;
          transform: scale(1.5);
        }
      }
    }
  }
}
