/* General styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-family-sans-serif;
}

/* LANDING PAGE */

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.hero {
  background-image: url(../images/pista.jpg);
  background-size: cover;
  color: #fff;
  display: grid;
  grid-template-rows: max-content 1fr;
  grid-template-areas: 
    "nav"
    "content";
  min-height: 100vh;

  .nav {
    grid-area: nav;
    display: grid;
    justify-content: space-between;
    grid-auto-flow: column;
    gap: 1em;
    align-items: center;
    height: 90px;

    .nav_menu {
      display: none;
    }

    .nav_list {
      list-style: none;
      display: grid;
      grid-auto-flow: column;
      gap: 2em;

      .nav_link {
        color: #fff;
        text-decoration: none;
      }
    }

    .nav_logo {
      font-size: 1.8rem;
      font-weight: 300;
      padding: 10px;
    }
  }

  /* Hero MAIN */
  .hero_main {
    grid-area: content;
    display: grid;
    gap: 2em;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding-bottom: 180px;
  }

  .hero_waves {
    grid-area: content;
    align-self: self-end;
  }

  .hero_text {
    color: black;

    .hero_title {
      font-size: 2.6rem;
      letter-spacing: 2px;
    }

    .hero_subtitle {
      margin-top: 1rem;
      margin-bottom: 1.5rem;
      font-size: 1.5rem;
      font-weight: 300;
    }

    .hero_cta {
      text-decoration: none;
      color: #fff;
      padding: 15px 60px;
      border: 1px solid;
      border-radius: 6px;
      display: inline-block;
      font-weight: 500;
      transition: background-color .3s;

      &:hover {
        background-color: #fff;
        color: #4fb576;
      }
    }
  }

  .hero_img {
    width: 100%;
  }

  @media (max-width:800px) {
    nav.container .nav_list {
      display: none;
    }

    nav.container .nav_menu {
      display: block;
    }

    .hero_main {
      grid-template-columns: 1fr;
      grid-template-rows: max-content max-content;
      text-align: left;
    }

    .hero_picture {
      grid-row: 1/2;
    }

    .hero_img {
      max-width: 500px;
      display: block;
      margin: 0 auto;
    }
  }
}

/* FOOTER */
.site_footer {
  margin-top: 150px;
  position: relative;
  background-color: #05498e;
  width: 100%;
  bottom: 0;

  .container {
    max-width: 90%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    padding-top: 20px;

    @media (max-width: 800px) {
      text-align: center;
    }

    .contact_details {
      text-align: center;
      margin-bottom: 20px;
  
      p {
          color: #ffffff;
          margin: 5px 0;
          font-size: 14px;

          &.contact {
            font-size: 18px;
          }
      }
  }

    .grid_container {
      display: grid;
      grid-template-columns: auto auto auto;
      margin-top: 50px;
      margin-bottom: 50px;

      @media (max-width: 800px) {
        grid-template-columns: 1fr;
      }

      a {
        color: #ffffff;
        text-decoration: none;
        font-size: 15px;
        line-height: 16.25px;

        &:hover {
          color: #9aff5c;
        }
      }

      .inner_grid_container {
        display: grid;
        grid-template-columns: auto auto auto;
        text-align: center;

        @media (max-width: 800px) {
          grid-template-columns: 1fr;
          margin-top: 10px;
          margin-bottom: 20px;
        }
      }

      .grid_item_menu {
        @media (max-width: 800px) {
          padding: 10px;
        }
      }
    }

    hr {
      display: block;
      height: 2px;
      border: 0;
      border-top: 1px solid #000000;
      margin: 1px;
      padding: 0;
    }

    .texto-copyright {
      font-size: 12px;
      text-align: right;
      color: #ffffff;
      font-weight: 500;

      @media (max-width: 800px) {
        text-align: center;
      }
    }

    .logo {
      cursor: pointer;
      color: #fff;
      font-size: 18px;

      @media (max-width: 800px) {
        text-align: center;
      }
    }

    .social_buttons {
      text-align: right;

      @media (max-width: 800px) {
        text-align: center;
      }

      a {
        display: inline-flex;
        text-decoration: none;
        font-size: 20px;
        width: 40px;
        height: 40px;
        color: #1A1F24;
        justify-content: center;
        align-items: center;
        position: relative;
        margin: 0 8px;

        i {
          transition: 0.3s ease-in;
        }

        &:hover i {
          background: linear-gradient(45deg, #9aff5c, rgb(219, 152, 63));
          background-clip: text;
          -webkit-text-fill-color: transparent;
          transform: scale(1.5);
        }
      }
    }
  }
}
