/*Header*/

.header {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background-color: $header-background-color;
  box-shadow: $header-box-shadow;
  border-bottom-left-radius: $header-border-radius;
  border-bottom-right-radius: $header-border-radius;
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;

  .logo {
    padding: 25px;
    font-size: 1rem;
    background: radial-gradient(
        ellipse at center,
        #ffeb3b 0%,
        #ffeb3b 25%,
        #f2d489 26%,
        #fbc02d 50%,
        #21f359 51%,
        #2196f3 75%,
        #5298dd 76%,
        #1e80e9 100%
      );
      border-radius: 15px;
      margin-left: 20px;
      margin-top: 5px;

    a {
      text-align: center;
      display: block;
      text-decoration: none;
      color: $black-color;
    }
  }

  .main-nav {
    margin: 0;
    padding: 15px;
    list-style: none;
    display: flex;
    flex-direction: row;

    a {
      padding: 10px 15px;
      text-align: center;
      display: block;
      text-decoration: none;
      color: $white-color;
      transition: color $header-transition-duration,  background-color 0.5s;
      border-radius: 10px;
      margin-right: 15px;

      &:hover {
        color:$hover-link;
        background-color: darken($header-background-color, 10%);
      }
    }
  }
}
  
  
@include tablet  {
      .header {
          flex-direction: column;
          align-items: center;

        .main-nav {
          flex-direction: column;

          a {
            margin-bottom: 15px;
          }
        }
          
      .logo {
        margin-left: 0;
      }
      }
  
  }
  

  /* Cards page two*/

.title_page2 {
    text-align: center;
    margin-bottom: 45px;
    margin-top: 70px;
  }
  
  .wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .cards {
    max-width: 300px;
    min-height: 250px;
    overflow: hidden;
    background: $cards-background;
    padding: 30px;
    border-radius: 5px;
    color: $black-color;
    margin: 20px;
    box-shadow: rgb(50 50 93 / 25%) 0px 30px 60px -12px, rgb(0 0 0 / 30%) 0px 18px 36px -18px;
  
    &-img {
   margin-bottom: 20px;
   max-width: 100%;
   border-radius: 5px;
    }
  
    &-title {
      font-size: 16px;
      font-weight: 600;
      letter-spacing: 1.2px;

      @container (min-width: 650px) {
        &-title {
          font-size: 14px;
        }
      }
    }
  
    &-content {
      font-size: 14px;
      letter-spacing: 0.5px;
      overflow: hidden;
      display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    }
  
    &-btn {
      all: unset;
      display: block;
      margin-left: auto;
      border: 2px solid $white-color;
      padding: 10px 15px;
      border-radius: 25px;
      font-size: 10px;
      font-weight: 600;
      transition: all 0.5s;
      cursor: pointer;
      letter-spacing: 1.2px;
  
      &:hover {
        color: $hover-read-more;
        background: $white-color;
      }
    }
  }

  .custom-pagination {
    display: flex;
    justify-content: center;
    margin-top: 100px;
  }
  
  
  