<footer class="site_footer">
    <div class="container">
        <div class="grid_item contact_details">
            <p class="contact">Contáctanos</p>
            <p>Email: pelotavirtuosa@gmail.com</p>
            <p>Teléfono: +34 689 998 763</p>
        </div>

        <hr />
        <div class="grid_container">
            <div class="grid_item">
                <div class="logo"><a href="index.html">PelotaVirtuosa</a></div>
            </div>

            <div class="grid_item inner_grid_container">
                <div class="grid_item_menu">
                    <a href="members.html">Miembros</a>
                </div>
                <div class="grid_item_menu">
                    <a href="article.html">Nuestro Blog</a>
                </div>
                <div class="grid_item_menu">
                    <a href="contact.html">Contacto</a>
                </div>
            </div>

            <div class="grid_item">
                <div class="social_buttons">
                    <a href=""><i class="fab fa-instagram"></i></a>
                    <a href=""><i class="fab fa-facebook"></i></a>
                    <a href=""><i class="fab fa-linkedin-in"></i></a>
                    <a href=""><i class="fab fa-twitter"></i></a>
                </div>
            </div>
        </div>
        <hr />

        <p class="texto-copyright">
            Copyright © 2023 | Anastasiya Eysmont Pronyuk | All rights reserved
        </p>
    </div>
</footer>
