@use "sass:color";

@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@200;300;400;500;700&display=swap');

$font-family-sans-serif: "Urbanist", sans serif;
$font-family-serif: "Georgia", "Times New Roman", serif;


$header-background-color: #0067aa;
$header-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
$header-border-radius: 10px;
$header-transition-duration: 0.3s;

$mqMinWidth: 420px;
